In [213]:
import numpy as np
import pandas as pd
from collections import Counter

In [214]:
df_train = pd.read_csv('/home/jinesh/Desktop/Titanic/train.csv')
df_test  = pd.read_csv('/home/jinesh/Desktop/Titanic/test.csv')
df_sample= pd.read_csv('/home/jinesh/Desktop/Titanic/gender_submission.csv')

In [215]:
### Define function to remove Outleirs data
def detect_outliers(df,n,features):
    """
    Takes a dataframe df of features and returns a list of the indices
    corresponding to the observations containing more than n outliers according
    to the Tukey method.
    """
    outlier_indices = []
    
    # iterate over features(columns)
    for col in features:
        # 1st quartile (25%)
        Q1 = np.percentile(df[col], 25)
        # 3rd quartile (75%)
        Q3 = np.percentile(df[col],75)
        # Interquartile range (IQR)
        IQR = Q3 - Q1
        
        # outlier step
        outlier_step = 1.5 * IQR
        
        # Determine a list of indices of outliers for feature col
        outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step )].index
        
        # append the found outlier indices for col to the list of outlier indices 
        outlier_indices.extend(outlier_list_col)
        
    # select observations containing more than 2 outliers
    outlier_indices = Counter(outlier_indices)        
    multiple_outliers = list( k for k, v in outlier_indices.items() if v > n )
    
    return multiple_outliers

In [216]:
Outliers_to_drop = detect_outliers(df_train,2,["Age","SibSp","Parch","Fare"])
df_train = df_train.drop(Outliers_to_drop, axis = 0).reset_index(drop=True)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:3652: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [217]:
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):

        if Pclass == 1:
            return 37

        elif Pclass == 2:
            return 29

        else:
            return 24

    else:
        return Age

In [218]:
def impute_fare(cols):
    Fare = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Fare):

        if Pclass == 1:
            return 84

        elif Pclass == 2:
            return 20

        else:
            return 13

    else:
        return Fare

In [219]:
df_train['Age'] = df_train[['Age','Pclass']].apply(impute_age,axis=1)

In [220]:
sex = pd.get_dummies(df_train['Sex'],drop_first=True)
embark = pd.get_dummies(df_train['Embarked'],drop_first=True)
df_train = pd.concat([df_train,sex,embark],axis=1)

In [221]:
dataset_title = [i.split(",")[1].split(".")[0].strip() for i in df_train["Name"]]
df_train["Title"] = pd.Series(dataset_title)
df_train["Title"] = df_train["Title"].replace(['Lady', 'the Countess','Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
df_train["Title"] = df_train["Title"].map({"Master":0, "Miss":1, "Ms" : 1 , "Mme":1, "Mlle":1, "Mrs":1, "Mr":2, "Rare":3})
df_train["Title"] = df_train["Title"].astype(int)

In [222]:
df_train["Family"] = df_train["SibSp"] + df_train["Parch"] + 1
df_train['Single'] = df_train['Family'].map(lambda s: 1 if s == 1 else 0)
df_train['SmallF'] = df_train['Family'].map(lambda s: 1 if  s == 2  else 0)
df_train['MedF']   = df_train['Family'].map(lambda s: 1 if 3 <= s <= 4 else 0)
df_train['LargeF'] = df_train['Family'].map(lambda s: 1 if s >= 5 else 0)
df_train['Senior'] = df_train['Age'].map(lambda s:1 if s>60 else 0)
df_train.drop(labels = ["Name"], axis = 1, inplace = True)

In [223]:
dataset_title = [i.split(",")[1].split(".")[0].strip() for i in df_test["Name"]]
df_test["Title"] = pd.Series(dataset_title)
df_test["Title"] = df_test["Title"].replace(['Lady', 'the Countess','Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
df_test["Title"] = df_test["Title"].map({"Master":0, "Miss":1, "Ms" : 1 , "Mme":1, "Mlle":1, "Mrs":1, "Mr":2, "Rare":3})
df_test["Title"] = df_test["Title"].astype(int)
df_test.drop(labels = ["Name"], axis = 1, inplace = True)

In [224]:
df_test['Age'] = df_test[['Age','Pclass']].apply(impute_age,axis=1)
sex = pd.get_dummies(df_test['Sex'],drop_first=True)
embark = pd.get_dummies(df_test['Embarked'],drop_first=True)
df_test = pd.concat([df_test,sex,embark],axis=1)

df_test['Fare'].fillna(value=df_test['Fare'].median(),inplace=True)

In [225]:
df_test['Fare'] = df_test[['Fare','Pclass']].apply(impute_fare,axis=1)
df_test["Fare"] = df_test["Fare"].map(lambda i: np.log(i) if i > 0 else 0)
df_test["Family"] = df_test["SibSp"] + df_test["Parch"] + 1

In [226]:
df_test['Single'] = df_test['Family'].map(lambda s: 1 if s == 1 else 0)
df_test['SmallF'] = df_test['Family'].map(lambda s: 1 if  s == 2  else 0)
df_test['MedF']   = df_test['Family'].map(lambda s: 1 if 3 <= s <= 4 else 0)
df_test['LargeF'] = df_test['Family'].map(lambda s: 1 if s >= 5 else 0)
df_test['Senior'] = df_test['Age'].map(lambda s:1 if s>60 else 0)

In [227]:
def get_person(passenger):
    age,sex = passenger
    return 'child' if age < 16 else sex

In [228]:
df_train['Person'] = df_train[['Age','Sex']].apply(get_person,axis=1)
df_test['Person']  = df_test[['Age','Sex']].apply(get_person,axis=1)

person_dummies_train  = pd.get_dummies(df_train['Person'])
person_dummies_train.columns = ['Child','Female','Male']
person_dummies_train.drop(['Male'], axis=1, inplace=True)

person_dummies_test  = pd.get_dummies(df_test['Person'])
person_dummies_test.columns = ['Child','Female','Male']
person_dummies_test.drop(['Male'], axis=1, inplace=True)

df_train = df_train.join(person_dummies_train)
df_test  = df_test.join(person_dummies_test)

df_train.drop(['Person'],axis=1,inplace=True)
df_test.drop(['Person'],axis=1,inplace=True)

In [229]:
df_train.drop('male',axis=1,inplace=True)
df_test.drop('male',axis=1,inplace=True)

In [230]:
df_train.drop(['Cabin','Ticket'],axis = 1, inplace= True)
df_test.drop(['Ticket','Cabin'],axis = 1, inplace= True)

In [231]:
df_train.drop(['Sex','Embarked'],axis=1,inplace=True)
df_test.drop(['Sex','Embarked'],axis=1,inplace=True)

In [232]:
df_train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Q,S,Title,Family,Single,SmallF,MedF,LargeF,Senior,Child,Female
0,1,0,3,22.0,1,0,7.2500,0,1,2,2,0,1,0,0,0,0,0
1,2,1,1,38.0,1,0,71.2833,0,0,1,2,0,1,0,0,0,0,1
2,3,1,3,26.0,0,0,7.9250,0,1,1,1,1,0,0,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,1,1,2,0,1,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,2,1,1,0,0,0,0,0,0

In [233]:
# Now slipt the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_train.drop('Survived',axis=1), 
                                                    df_train['Survived'], test_size=0.20, 
                                                    random_state=101)
X_train

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Q,S,Title,Family,Single,SmallF,MedF,LargeF,Senior,Child,Female
247,253,1,62.0,0,0,26.5500,0,1,2,1,1,0,0,0,1,0,0
607,615,3,35.0,0,0,8.0500,0,1,2,1,1,0,0,0,0,0,0
299,305,3,24.0,0,0,8.0500,0,1,2,1,1,0,0,0,0,0,0
527,535,3,30.0,0,0,8.6625,0,1,1,1,1,0,0,0,0,0,1
113,116,3,21.0,0,0,7.9250,0,1,2,1,1,0,0,0,0,0,0
389,397,3,31.0,0,0,7.8542,0,1,1,1,1,0,0,0,0,0,1
27,29,3,24.0,0,0,7.8792,1,0,1,1,1,0,0,0,0,0,1
191,196,1,58.0,0,0,146.5208,0,0,1,1,1,0,0,0,0,0,1
630,638,2,31.0,1,1,26.2500,0,1,2,3,0,0,1,0,0,0,0
856,867,2,27.0,1,0,13.8583,0,0,1,2,0,1,0,0,0,0,1
449,457,1,65.0,0,0,26.5500,0,1,2,1,1,0,0,0,1,0,0
495,503,3,24.0,0,0,7.6292,1,0,1,1,1,0,0,0,0,0,1
719,727,2,30.0,3,0,21.0000,0,1,1,4,0,0,1,0,0,0,1
114,117,3,70.5,0,0,7.7500,1,0,2,1,1,0,0,0,1,0,0
230,236,3,24.0,0,0,7.5500,0,1,1,1,1,0,0,0,0,0,1
849,859,3,24.0,0,3,19.2583,0,0,1,4,0,0,1,0,0,0,1
210,216,1,31.0,1,0,113.2750,0,0,1,2,0,1,0,0,0,0,1
288,294,3,24.0,0,0,8.8500,0,1,1,1,1,0,0,0,0,0,1
788,797,1,49.0,0,0,25.9292,0,1,3,1,1,0,0,0,0,0,1
167,171,1,61.0,0,0,33.5000,0,1,2,1,1,0,0,0,1,0,0
538,546,1,64.0,0,0,26.0000,0,1,2,1,1,0,0,0,1,0,0
482,490,3,9.0,1,1,15.9000,0,1,0,3,0,0,1,0,0,1,0
771,779,3,24.0,0,0,7.7375,1,0,2,1,1,0,0,0,0,0,0
413,421,3,24.0,0,0,7.8958,0,0,2,1,1,0,0,0,0,0,0
730,738,1,35.0,0,0,512.3292,0,0,2,1,1,0,0,0,0,0,0
880,891,3,32.0,0,0,7.7500,1,0,2,1,1,0,0,0,0,0,0
183,188,1,45.0,0,0,26.5500,0,1,2,1,1,0,0,0,0,0,0
240,246,1,44.0,2,0,90.0000,1,0,3,3,0,0,1,0,0,0,0
180,185,3,4.0,0,2,22.0250,0,1,1,3,0,0,1,0,0,1,0
126,129,3,24.0,1,1,22.3583,0,0,1,3,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,255,3,41.0,0,2,20.2125,0,1,1,3,0,0,1,0,0,0,1
840,850,1,37.0,1,0,89.1042,0,0,1,2,0,1,0,0,0,0,1
556,564,3,24.0,0,0,8.0500,0,1,2,1,1,0,0,0,0,0,0
418,426,3,24.0,0,0,7.2500,0,1,2,1,1,0,0,0,0,0,0
59,61,3,22.0,0,0,7.2292,0,0,2,1,1,0,0,0,0,0,0
371,379,3,20.0,0,0,4.0125,0,0,2,1,1,0,0,0,0,0,0
136,139,3,16.0,0,0,9.2167,0,1,2,1,1,0,0,0,0,0,0
506,514,1,54.0,1,0,59.4000,0,0,1,2,0,1,0,0,0,0,1
623,631,1,80.0,0,0,30.0000,0,1,2,1,1,0,0,0,1,0,0
851,861,3,41.0,2,0,14.1083,0,1,2,3,0,0,1,0,0,0,0
49,51,3,7.0,4,1,39.6875,0,1,0,6,0,0,0,1,0,1,0
40,42,2,27.0,1,0,21.0000,0,1,1,2,0,1,0,0,0,0,1
477,485,1,25.0,1,0,91.0792,0,0,2,2,0,1,0,0,0,0,0
5,6,3,24.0,0,0,8.4583,1,0,2,1,1,0,0,0,0,0,0
110,113,3,22.0,0,0,8.0500,0,1,2,1,1,0,0,0,0,0,0
704,712,1,37.0,0,0,26.5500,0,1,2,1,1,0,0,0,0,0,0
732,740,3,24.0,0,0,7.8958,0,1,2,1,1,0,0,0,0,0,0
316,322,3,27.0,0,0,7.8958,0,1,2,1,1,0,0,0,0,0,0
757,765,3,16.0,0,0,7.7750,0,1,2,1,1,0,0,0,0,0,0
876,887,2,27.0,0,0,13.0000,0,1,3,1,1,0,0,0,0,0,0
644,652,2,18.0,0,1,23.0000,0,1,1,2,0,1,0,0,0,0,1
552,560,3,36.0,1,0,17.4000,0,1,1,2,0,1,0,0,0,0,1
393,401,3,39.0,0,0,7.9250,0,1,2,1,1,0,0,0,0,0,0
75,77,3,24.0,0,0,7.8958,0,1,2,1,1,0,0,0,0,0,0
599,607,3,30.0,0,0,7.8958,0,1,2,1,1,0,0,0,0,0,0
575,583,2,54.0,0,0,26.0000,0,1,2,1,1,0,0,0,0,0,0
838,848,3,35.0,0,0,7.8958,0,0,2,1,1,0,0,0,0,0,0
337,345,2,36.0,0,0,13.0000,0,1,2,1,1,0,0,0,0,0,0
523,531,2,2.0,1,1,26.0000,0,1,1,3,0,0,1,0,0,1,0
863,874,3,47.0,0,0,9.0000,0,1,2,1,1,0,0,0,0,0,0

In [234]:
from sklearn.ensemble import RandomForestClassifier

forest_clf = RandomForestClassifier(n_estimators=750,max_depth=6,min_samples_split=3)
forest_clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=3,
            min_weight_fraction_leaf=0.0, n_estimators=750, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [235]:
forest_clf.score(X_test,y_test)

0.8531073446327684

In [236]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(weights='distance',n_neighbors=12)

In [237]:
knn_clf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=12, p=2,
           weights='distance')

In [238]:
knn_clf.score(X_test,y_test)

0.6440677966101694

In [239]:
data = forest_clf.predict(X_test)
X_test.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Q', 'S',
       'Title', 'Family', 'Single', 'SmallF', 'MedF', 'LargeF', 'Senior',
       'Child', 'Female'],
      dtype='object')

In [256]:
df_test.columns

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Title', 'Q',
       'S', 'Family', 'Single', 'SmallF', 'MedF', 'LargeF', 'Senior', 'Child',
       'Female'],
      dtype='object')

In [257]:
data =forest_clf.predict(df_test)

In [289]:
df_final = df_test.copy()

In [290]:
df_final["Survived"] = data

In [291]:
df_final

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Title,Q,S,Family,Single,SmallF,MedF,LargeF,Senior,Child,Female,Survived
0,892,3,34.5,0,0,2.057860,2,1,0,1,1,0,0,0,0,0,0,0
1,893,3,47.0,1,0,1.945910,1,0,1,2,0,1,0,0,0,0,1,0
2,894,2,62.0,0,0,2.270836,2,1,0,1,1,0,0,0,1,0,0,0
3,895,3,27.0,0,0,2.159003,2,0,1,1,1,0,0,0,0,0,0,0
4,896,3,22.0,1,1,2.508582,1,0,1,3,0,0,1,0,0,0,1,0
5,897,3,14.0,0,0,2.221917,2,0,1,1,1,0,0,0,0,1,0,1
6,898,3,30.0,0,0,2.031983,1,1,0,1,1,0,0,0,0,0,1,0
7,899,2,26.0,1,1,3.367296,2,0,1,3,0,0,1,0,0,0,0,1
8,900,3,18.0,0,0,1.978128,1,0,0,1,1,0,0,0,0,0,1,1
9,901,3,21.0,2,0,3.184284,2,0,1,3,0,0,1,0,0,0,0,1
10,902,3,24.0,0,0,2.066331,2,0,1,1,1,0,0,0,0,0,0,0
11,903,1,46.0,0,0,3.258097,2,0,1,1,1,0,0,0,0,0,0,1
12,904,1,23.0,1,0,4.409966,1,0,1,2,0,1,0,0,0,0,1,1
13,905,2,63.0,1,0,3.258097,2,0,1,2,0,1,0,0,1,0,0,1
14,906,1,47.0,1,0,4.113739,1,0,1,2,0,1,0,0,0,0,1,1
15,907,2,24.0,1,0,3.322183,1,0,0,2,0,1,0,0,0,0,1,1
16,908,2,35.0,0,0,2.513656,2,1,0,1,1,0,0,0,0,0,0,1
17,909,3,21.0,0,0,1.977547,2,0,0,1,1,0,0,0,0,0,0,1
18,910,3,27.0,1,0,2.070022,1,0,1,2,0,1,0,0,0,0,1,0
19,911,3,45.0,0,0,1.977547,1,0,0,1,1,0,0,0,0,0,1,0
20,912,1,55.0,1,0,4.084294,2,0,0,2,0,1,0,0,0,0,0,1
21,913,3,9.0,0,1,1.153984,0,0,1,2,0,1,0,0,0,1,0,1
22,914,1,37.0,0,0,3.455790,1,0,1,1,1,0,0,0,0,0,1,1
23,915,1,21.0,0,1,4.117071,2,0,0,2,0,1,0,0,0,0,0,1
24,916,1,48.0,1,3,5.569775,1,0,0,5,0,0,0,1,0,0,1,1
25,917,3,50.0,1,0,2.674149,2,0,1,2,0,1,0,0,0,0,0,0
26,918,1,22.0,0,1,4.126799,1,0,0,2,0,1,0,0,0,0,1,1
27,919,3,22.5,0,0,1.977547,2,0,0,1,1,0,0,0,0,0,0,1
28,920,1,41.0,0,0,3.417727,2,0,1,1,1,0,0,0,0,0,0,1
29,921,3,24.0,2,0,3.076353,2,0,0,3,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,21.0,0,0,2.047693,2,1,0,1,1,0,0,0,0,0,0,0
389,1281,3,6.0,3,1,3.048088,0,0,1,5,0,0,0,1,0,1,0,0
390,1282,1,23.0,0,0,4.537961,2,0,1,1,1,0,0,0,0,0,0,1
391,1283,1,51.0,0,1,3.673766,1,0,1,2,0,1,0,0,0,0,1,1
392,1284,3,13.0,0,2,3.008155,0,0,1,3,0,0,1,0,0,1,0,1
393,1285,2,47.0,0,0,2.351375,2,0,1,1,1,0,0,0,0,0,0,1
394,1286,3,29.0,3,1,3.092178,2,0,1,5,0,0,0,1,0,0,0,0
395,1287,1,18.0,1,0,4.094345,1,0,1,2,0,1,0,0,0,0,1,1
396,1288,3,24.0,0,0,1.981001,2,1,0,1,1,0,0,0,0,0,0,0
397,1289,1,48.0,1,1,4.371976,1,0,0,3,0,0,1,0,0,0,1,1
398,1290,3,22.0,0,0,2.050913,2,0,1,1,1,0,0,0,0,0,0,0
399,1291,3,31.0,0,0,2.045536,2,1,0,1,1,0,0,0,0,0,0,0
400,1292,1,30.0,0,0,5.105137,1,0,1,1,1,0,0,0,0,0,1,1
401,1293,2,38.0,1,0,3.044522,2,0,1,2,0,1,0,0,0,0,0,1
402,1294,1,22.0,0,1,4.084294,1,0,0,2,0,1,0,0,0,0,1,1
403,1295,1,17.0,0,0,3.852273,2,0,1,1,1,0,0,0,0,0,0,1
404,1296,1,43.0,1,0,3.322183,2,0,0,2,0,1,0,0,0,0,0,1
405,1297,2,20.0,0,0,2.629187,2,0,0,1,1,0,0,0,0,0,0,1
406,1298,2,23.0,1,0,2.351375,2,0,1,2,0,1,0,0,0,0,0,1
407,1299,1,50.0,1,1,5.354225,2,0,0,3,0,0,1,0,0,0,0,1
408,1300,3,24.0,0,0,2.043918,1,1,0,1,1,0,0,0,0,0,1,0
409,1301,3,3.0,1,1,2.622855,1,0,1,3,0,0,1,0,0,1,0,1
410,1302,3,24.0,0,0,2.047693,1,1,0,1,1,0,0,0,0,0,1,0
411,1303,1,37.0,1,0,4.499810,1,1,0,2,0,1,0,0,0,0,1,1
412,1304,3,28.0,0,0,2.050913,1,0,1,1,1,0,0,0,0,0,1,0
413,1305,3,24.0,0,0,2.085672,2,0,1,1,1,0,0,0,0,0,0,0
414,1306,1,39.0,0,0,4.690430,3,0,0,1,1,0,0,0,0,0,1,1
415,1307,3,38.5,0,0,1.981001,2,0,1,1,1,0,0,0,0,0,0,0
416,1308,3,24.0,0,0,2.085672,2,0,1,1,1,0,0,0,0,0,0,0
417,1309,3,24.0,1,1,3.107198,0,0,0,3,0,0,1,0,0,0,0,1

In [292]:
df_final.drop(['Pclass','Age','SibSp','Parch','Fare','Title','Q','S','Family','Single','SmallF','MedF','LargeF','Senior','Child','Female'],axis=1,inplace=True)

In [293]:
df_final.index = df_final.index + 1

In [295]:
df_final.to_csv("/home/jinesh/Desktop/submission.csv", index=False)